{# templates/admin/users.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste des Utilisateurs</h1>

    <div class="container">
        <a href="{{ path('admin_user_create') }}" class="btn btn-primary">Créer un Nouvel Utilisateur</a>

        <table class="table mt-3">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Rôle</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.roles[0] }}</td>
                    <td>
                        <a href="{{ path('admin_user_delete', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr ?');">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun utilisateur trouvé</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
