{% extends 'base.html.twig' %}

{% block title %}Modifier le project{% endblock %}

{% block body %}
    <h1>Modifier la project</h1>

    {{ form_start(form) }}
    {{ form_row(form.title) }}
    {{ form_row(form.created_at) }}
    {{ form_row(form.description) }}
    {{ form_row(form.screenshot) }}
    {% if project.screenshot %}
        <img src="{{ asset(project.screenshot) }}" alt="{{ project.title }}" class="img-thumbnail">
    {% endif %}
    {{ form_row(form.Technology) }}
    <button class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
{% endblock %}