{# templates/admin/user/edit.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Modifier l'Utilisateur{% endblock %}

{% block body %}
    <h1>Modifier l'Utilisateur</h1>

    <div class="container">
        {{ form_start(form) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.firstname) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        <button class="btn btn-success">Enregistrer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
