<h1>{{ form.vars.value.id ? 'Modifier le projet' : 'Créer un projet' }}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
<button type="submit">{{ form.vars.value.id ? 'Modifier' : 'Créer' }}</button>
{{ form_end(form) }}
